
</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>
    <a 
			href="/destination/new"
			<%- title === 'Add Destination' ? 'class="active"' : '' %>
		>
			ADD DESTINATION
		</a>
    <a 
      href="/flights/new" <%- title === 'Add Flights' ? 'class="active"' : '' %>
    >ADD FLIGHT</a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
  </nav>